/*
 * Same parameters as Snakemake dna_config.yml (project + reference + resources).
 * Run from the analysis directory, e.g.:
 *   nextflow run /path/to/utils/alignment_nextflow/main.nf \
 *     --fastq_config fastq.yml --sample_list sample.list \
 *     --reference_fasta /path/to/ref.fa --reference_key GRCh38 \
 *     --library_key LIB1
 */

params {
    fastq_config = 'fastq.yml'
    sample_list = 'sample.list'
    reference_fasta = ''
    reference_key = 'GRCh38'
    library_key = ''
    picard_jar = "${System.getenv('HOME')}/software/picard/2.20.7/picard.jar"
}

process {
    cpus = 4
    errorStrategy = 'terminate'
}

executor {
    name = 'local'
}

profiles {
    lsf {
        process.executor = 'lsf'
        executor.queueSize = 100
        process.queue = 'general'
        process.cpus = 4
        process.time = '24.h'
        process.memory = '32 GB'
        process {
            withName: 'BWA_MEM' {
                cpus = 4
                memory = '32 GB'
                time = '24.h'
            }
            withName: 'SAMTOOLS_READGROUP' {
                cpus = 4
                memory = '16 GB'
            }
            withName: 'SAMTOOLS_MARKDUP' {
                cpus = 4
                memory = '16 GB'
            }
            withName: 'INPUT_READY' {
                cpus = 4
                memory = '32 GB'
            }
            withName: 'VALIDATE_SAMFILE' {
                memory = '12 GB'
                time = '4.h'
            }
            withName: 'READY_BAM' {
                memory = '8 GB'
            }
            withName: 'WRITE_BAM_TABLE' {
                cpus = 1
                memory = '1 GB'
            }
        }
    }

    slurm {
        process.executor = 'slurm'
        process.cpus = 4
        process.memory = '32 GB'
        process {
            withName: 'BWA_MEM' {
                memory = '32 GB'
            }
            withName: 'VALIDATE_SAMFILE' {
                memory = '12 GB'
            }
        }
    }
}
